:root {
  --bg1: #050E1F;
  --color1 : #101828;
  --color2 : #667085;
  --bg2 : #E0E2E8;
  --color2 : #202020;
  --color3 : #000000;
  --color4 : #7C3C6D;
  --color5 : #612653;
  --color6 : #4C8657;
  --color7 : #376440;
  --color8 : #FF876C;
  --color9 : #ED5736;
}
